numpy
numba
apscheduler==3.10.4
Flask==3.0.3
matplotlib==3.9.2
pandas==2.2.3
pymongo==4.10.1
ray[data,train,tune,serve]==2.37.0
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
torch==2.4.1
torchmetrics==1.4.2
tqdm==4.66.5
umap_learn==0.5.6
tensorboard
scikit-learn~=1.5.2